/*Reset*/
/* Box sizing reglas*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remover margenes */
* {
    margin: 0;
    padding: 0;
}

/* remover estilo listas ul, al elemento con rol de lista */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* reseteo de root */
html:focus-within {
    scroll-behavior: smooth;
}

/* reseteo de body */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
    background-color: #d9d9d9;
}

/* los enlases que no tienen clase tienen estilo default */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* reseteo de imagenes */
img,
picture {
    min-width: 100%;
    display: block;
}

/* letra botones heredadas */
input,
button,
textarea,
select {
    font: inherit;
}

/*FIN RESET*/

/*Estilo nav*/

.nav__logo {
    display: flex;
    position: relative;
}

.nav__logo img {
    width: 20vh;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    background-color: #b9bbb2;
    padding: 15px;
}

.nav__links {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.nav__links a {
    color: #1B5D3F;
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 0.125rem;
    display: inline-block;
}

li {
    list-style: none;
}

.nav__burger {
    align-self: center;
    display: none;
}

.nav__burger div {
    background-color: #04020f;
    width: 3.125rem;
    height: 0.4rem;
    margin: 0.5rem;
    transition: all 0.5s ease;
}

.nav__links a:hover {
    transform: scale(110%);
}

/*Fin Estilo Nav*/

/*Carousel Style*/
.carousel {
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-top: 19vh;
    background-color: #d9d9d9;
}

.carousel__img,
.carousel__img-hidden {
    display: none;
}

.carousel__track {
    inset: 0;
}

.carousel__track img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel__img-visible {
    display: block;
}

.slideAnimation {
    animation: slide 1.5s;
}


@keyframes slide {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}

.carousel__button {
    justify-content: center;
    object-position: center;
    font-weight: bold;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 20%);
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
}

.carousel__button--next {
    right: 1rem;
}

.carousel__button--prev {
    left: 1rem;
}

.carousel__button:hover {
    background-color: rgba(255, 255, 255, 50%);
}

.carousel__indicators {
    position: absolute;
    display: block;
    height: fit-content;
    width: fit-content;
    z-index: 1;
    top: 90%;
    right: 50%;
    transform: translateX(50%);
}

.carousel__indicator {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto 0.5rem;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.carousel__indicator__active {
    background-color: rgba(255, 255, 255, 1);
}

/*Fin estilo carousel*/
/*section style*/
.section-one {
    margin: 0;
    display: block;
    justify-content: space-evenly;
    background-color: inherit;
    height: fit-content;
    text-align: center;
    align-items: center;
}

.section-one__text {
    text-align: center;
    padding: 10px;
    background-color: inherit;
    font-size: 1.2rem;
    height: fit-content;
}

.section-one h2 {
    text-align: center;
    padding: 20px;
    background-color: inherit;
    font-size: 1.2rem;
}

.section-one__green {
/*    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content:space-between;
    height: auto;   */
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 15px;
}

.section-one__grey {
    display: flex;
    padding: 0px 10px 10px 10px;
    flex-direction: row;
    justify-content:space-around;
    background-color: #d9d9d9;
}

.contacto {
    display: flex;
    flex-flow: nowrap column;
    width: 100%;
}

.card {
    overflow: hidden;
    border: 1px solid black;
    background-color: #b9bbb2;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    object-position: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card__text {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 25px;
    padding: 10px;
}
.section__col{
    width: 50%;
    padding:10px;
    text-align: justify;
}
.card:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.space{
    width:45px;
    height: 10px;
}
.form {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.125rem;
    width: 85%;
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form.area {
    height: 30vh;
}

.form.btn {
    justify-content: center;
    background: #b9bbb2;
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    line-height: 0.9rem;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #b9bbb2;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.form.btn:hover {
    background: #1B5D3F;
}

section img {
    max-width: 100%;
}

.fa-circle-check {
    opacity: 0;
    transform: translateY(25px);
    position: absolute;
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
    color: green;
    font-size: 1.5rem;
    font-weight: 600;
}

.fa-circle-xmark {
    opacity: 0;
    transform: translateY(25px);
    position: absolute;
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
}

.error {
    color: red;
}

/*Fin estilo main*/
/*Estilos footer*/
.footer__contact {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #b9bbb2;
}

.footer__contact li {
    list-style: none;
    padding: 2px;
    font-size: 1.125rem;
}

.footer {
    display: flex;
    flex-flow: wrap row;
}

footer p {
    background-color: #b9bbb2;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.fa-brands {
    padding-top: 10px;
    margin: 10px;
}

.footer__contact a {
    color: #04020f;
}

#end {
    width: 100%;
    align-self: center;
}


/*Horizontal celus-tablet */
@media (min-width: 501px) and (max-width: 1023px) {
    .nav__links li {
        opacity: 0;
    }

    .nav__links {
        display: flex;
        position: absolute;
        right: 0;
        height: 90vh;
        top: 0;
        margin-top: 10vh;
        flex-direction: column;
        justify-content: start;
        width: 40%;
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
        background-color: rgba(185, 187, 178, 90%);
    }

    .nav__links a {
        color: #1B5D3F;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 30px;
    }

    nav {
        top: 0;
        position: fixed;
        background-color: #b9bbb2;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        width: 100%;
        height: 10vh;
        padding: 9px;
    }

    .nav__burger {
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .nav__burger div {
        width: 25px;
        height: 3px;
        margin: 5px;
    }

    .nav__logo {
        display: flex;
        z-index: 5;
        align-self: center;
        width: fit-content;
    }

    .nav__logo img {
        width: 10vh;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .animateB .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .animateB .line2 {
        opacity: 0;
    }

    .animateB .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .carousel {
        display: flex;
        margin-top: 0;
        height: fit-content;
    }
    .carousel__track img {
        width: 100%;
    }
    .carousel__button--next {
        right: 0.5rem;
    }

    .carousel__button--prev {
        left: 0.5rem;
    }
    .carousel__button {
        top: 60%;
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 2.5rem;
    }
    .carousel__indicators {
        position: absolute;
        display: block;
        top: 90%;
        z-index: 1;
    }

    .carousel__indicator {
        width: 1rem;
        height: 1rem;
        margin: auto 0.3rem;
    }

    .section-one__green {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card__middle{
        margin-top: 17px;
    }

    .card {
        width: 48%;
    }

    .card:hover {
        transform: translateY(0px);
    }
     .contacto{
         flex-direction: column;
         justify-content:center;
         background-color: #d9d9d9;
         flex-flow: column nowrap;
     }
     .form {
         font-size: 1.125rem;
         align-content: center;
     }

    .form.area {
        height: 30vh;
    }

    .btn {
        height: fit-content;
    }
    .section-one__text {
        font-size: 1rem;
    }
    .section-one__grey__form{
        flex-flow: row nowrap;
    }

    .contact{
        flex-flow: column wrap;
    }
    .section__col{
        width: 50%;
        padding:10px;
        text-align: justify;
    }
    .footer__contact ul {
        padding-bottom: 20px;
    }

    .footer__contact {
        flex-wrap: wrap;
    }


}

/*Vertical celus*/
@media (max-width: 500px){
    .nav__links li {
        opacity: 0;
    }

    .nav__links {
        display: flex;
        position: absolute;
        right: 0;
        height: 90vh;
        top: 0;
        margin-top: 10vh;
        flex-direction: column;
        justify-content: start;
        width: 40%;
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
        background-color: rgba(185, 187, 178, 90%);
    }

    .nav__links a {
        color: #1B5D3F;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 30px;
    }

    nav {
        top: 0;
        position: fixed;
        background-color: #b9bbb2;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        width: 100%;
        height: 10vh;
        padding: 9px;
    }

    .nav__burger {
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .nav__burger div {
        width: 25px;
        height: 3px;
        margin: 5px;
    }

    .nav__logo {
        display: flex;
        z-index: 5;
        align-self: center;
        width: fit-content;
    }

    .nav__logo img {
        width: 10vh;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .animateB .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .animateB .line2 {
        opacity: 0;
    }

    .animateB .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .carousel {
        display: flex;
        margin-top: 0;
        height: fit-content;
    }
    .carousel__track img {
        width: 100%;
    }
    .carousel__button--next {
        right: 0.5rem;
    }

    .carousel__button--prev {
        left: 0.5rem;
    }
    .carousel__button {
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: 2rem;
    }
    .carousel__indicators {
        position: absolute;
        display: block;
        top: 90%;
        z-index: 1;
    }

    .carousel__indicator {
        width: 0.5rem;
        height: 0.5rem;
        margin: auto 0.1rem;
    }

    .section-one {
        margin: 0;
    }

    .section-one__green {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 20px;

    }
    .section-one__grey{
        flex-flow: column wrap;

    }
    .section__col{
        width: 100%;
        padding:10px;
        text-align: justify;
    }
    .section-one__no-index {
        margin-top: 7vh;
        
    }

    .footer__contact ul {
        padding-bottom: 20px;
    }

    .footer__contact {
        flex-wrap: wrap;
    }

    .form {
        font-size: 1.125rem;
        align-content: center;
    }

    .form.area {
        height: 30vh;
    }

    .form.btn {
        width: 7rem;
    }

    .primary-heading {
        margin-top: 7vh;
    }


    .card {
        width: 100%;
    }

    .card:hover {
        transform: translateY(0);
    }


    .section-one__text {
        font-size: 1rem;
    }


}
